<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="TruePush Automation">

  <test  name="Truepush testcases">

<parameter name="url" value="tinnier-chests.000webhostapp.com/"></parameter>

 <classes>

<class name="com.truepush.qa.testcases.SettingsTest">

<methods> <include name="validateSettingsPage"></include>

</methods>


</class>
    </classes>
  </test>


</suite> 
